<!-- use base html template -->
{% extends 'project/base.html' %}
{% load jalali_tags %}
{% load humanize %}
{% load auth_extras %}
{% block title %}
    <title>مدیریت روزهای کاری</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <!-- body -->
    <div class="container-fluid row">

        <!-- table and tools -->
        <div class="col-sm-9 mb-2">

            <!-- body -->
            <section class="">

                <div class="row">
                    <div class="col-12">
                        <div class="card card-list">

                            <!-- header -->
                            <div class="card-header white d-flex justify-content-between align-items-center py-3 bg-transparent mx-1 mt-1">

                                <div class="container-fluid">
                                    <!-- new/delete/edit buttons -->
                                    <div class="text-center mb-4 pt-1 pb-1 border border-info rounded">
                                        <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelWorkDayNew"><i class="fas fa-plus-circle mr-1"></i> افزودن</button>
                                        <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelWorkDayEdit"><i class="fas fa-edit mr-1"></i> ویرایش</button>
                                        <button type="button" class="btn btn-rounded btn-danger btn-sm" data-toggle="modal" data-target="#modal-workDay-delete"
                                                onclick="showWorkDayDeleteModal()"><i class="fas fa-trash mr-1"></i> حذف</button>
                                    </div>

                                    <!-- PAGE SIZE/ search -->
                                    <div class="container">
                                        <div class="row ">

                                            <div class="col-5 mb-2">
                                                <div class="row">
                                                    <p>تعداد صفحات</p>
                                                    <select id="workDay-selector-page-size" class="browser-default custom-select" onchange="workDayPageSizeChanged(this.options[this.selectedIndex].value)">
                                                        <option value="10">10</option>
                                                        <option value="20" >20</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                    <a id="workDay-tag-a-page-size" class="d-none" href="?page-size=20">20</a>
                                                    <script>
                                                        document.getElementById('workDay-selector-page-size').value={{ page_size }};
                                                        function workDayPageSizeChanged(page_size) {
                                                            {#alert(page_size)#}
                                                            let tag_a = document.getElementById("workDay-tag-a-page-size");
                                                            tag_a.href = "?page-size=" + page_size;
                                                            tag_a.click();
                                                        }
                                                    </script>
                                                </div>
                                            </div>

                                            <!-- Search form -->
                                            <div class="col-6 mb-2 mr-4">
                                                <div class="row">
                                                    <p>جست و جو</p>
                                                    <input id="search-debt" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>

                            <!-- table -->
                            <div class="card-body table-responsive">

                                <table class="table table-sm table-hover"  id="workDay-table">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">کارمند</th>
                                        <th scope="col">تاریخ کار</th>
                                        <th scope="col">ساعت کاری</th>
                                        <th scope="col">توضیحات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for workDay in workdays %}
                                        <tr>
                                            <input class="workDayId" type="hidden" dataId={{ workDay.id }}>
                                            <input class="employee" type="hidden" employeId={{ workDay.employee.id }}>
                                            <th scope="row" >{{ forloop.counter }}</th>
                                            <td class="employee" >{{ workDay.employee.fullName }}</td>
                                            <td class="workDate" data-workDate="{{ workDay.workDate|date:"Y-m-d" }}">{{ workDay.workDate|to_jalali:'%y/%m/%d' }}</td>
                                            <td class="workHour">{{ workDay.workHour }}</td>
                                            <td class="description">{{ workDay.description }}</td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            <!-- pagination -->
                            <div class="card-footer white py-3 d-flex justify-content-between">

                                <div class="d-flex justify-content-center w-100">
                                    {% if workdays.has_other_pages %}
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination pagination-circle pg-blue">
                                                <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += document.getElementById('query-workDay-search').value + document.getElementById('query-workDay-filter').value">First</a></li>
                                                {% if workdays.has_previous %}
                                                    <li class="page-item">
                                                        <a class="page-link" aria-label="Previous" href="?page={{ workdays.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += document.getElementById('query-workDay-search').value + document.getElementById('query-workDay-filter').value">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                <!-- center page numbers -->
                                                {% for i in workdays.paginator.page_range %}
                                                    {% if workdays.number == i %}
                                                        <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                                                    {% else %}
                                                        <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += document.getElementById('query-workDay-search').value + document.getElementById('query-workDay-filter').value">{{ i }}</a></li>
                                                    {% endif %}
                                                {% endfor %}

                                                <!-- center page numbers -->
                                                {% if workdays.has_next %}
                                                    <a class="page-link" aria-label="Next"  href="?page={{ workdays.next_page_number }}&page-size={{ page_size }}" onclick="this.href += document.getElementById('query-workDay-search').value + document.getElementById('query-workDay-filter').value">
                                                        <span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                {% else %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                <li class="page-item"><a class="page-link">Last</a></li>
                                            </ul>
                                        </nav>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </section>
            <!-- Section: Block Content -->

        </div>

        <!-- filter section -->
        <div class="col-sm-3 mb-3">

            <!-- Panel -->
            <div class="card">

                <div class="card-header white-text primary-color">
                    فیلتر
                </div>

                <div class="card-body text-center px-3">
                    <div class="list-group list-group-flush">

                        <!-- employees -->
                        <div class="list-group-item d-flex justify-content-between">
                            <div dir="ltr" >
                                <label class="float-right">کارمندها </label>
                                <select id="filter-workDay-employee" class="mdb-select md-form " multiple >
                                    <option value="" disabled selected>انتخاب کارمند</option>
                                    {% for employee in employees %}
                                        <option value="{{ employee.id }}" {{ employee.id|is_selected:filter_param.employee_list }}>{{ employee.fullName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- start date filter -->
                        <div class="list-group-item d-flex justify-content-between">
                            <div>

                                <!-- start date -->
                                <label for="filter-workDay-startDate" class="float-right">تاریخ شروع</label>
                                <div class="row" dir="ltr" style="width: 100%">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cursor-pointer" id="dt_class_workDay_filter_startDate"><i class="fa fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="filter-workDa-startDate" class="form-control" value="{{ filter_param.start_date|default_if_none:"" }}">
                                    </div>
                                    <label id="showDate_class_workDay_filter_startDate" class="text-black-50 small"> </label>
                                </div>

                                <!-- end date -->
                                <label for="filter-workDay-endDate" class="float-right">تاریخ پایان</label>
                                <div class="row" dir="ltr" style="width: 100%">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text cursor-pointer" id="dt_class_workDay_filter_endDate"><i class="fa fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" id="filter-workDa-endDate" class="form-control" value="{{ filter_param.end_date|default_if_none:"" }}">
                                    </div>
                                    <label id="showDate_class_workDay_filter_endDate" class="text-black-50 small"> </label>
                                </div>

                            </div>
                        </div>

                        <!-- end date filter -->
                        <div class="list-group-item d-flex justify-content-between">
                            <a onclick="workDayFilterChanged()" class="btn btn-rounded btn-outline-primary btn-block" >فیلتر</a>
                        </div>

                        <!-- link for apply filter -->
                        <a id="workDay-tag-a-filter" class="d-none" href="?page-size=20">20</a>
                        <script>
                            document.getElementById('workDay-selector-page-size').value={{ page_size }};
                            function workDayFilterChanged() {

                                //-- get selected projects --//
                                let employee_list = document.getElementById("filter-workDay-employee");
                                let res = getSelectedOptions(employee_list);
                                let selectedTemp = [];
                                for( let i=1; i<res.length; i++){
                                    console.log(res[i].text + res[i].value);
                                    selectedTemp.push(res[i].value);
                                }
                                let selectedEmployee = selectedTemp.join("_");


                                let date_start = document.getElementById("filter-workDa-startDate").value;
                                let date_end = document.getElementById("filter-workDa-endDate").value;
                                let tag_a = document.getElementById("workDay-tag-a-filter");


                                document.getElementById("query-workDay-filter").setAttribute("value", "&start_date=" + date_start
                                    + "&end_date=" + date_end + "&selectedEmployees=" + selectedEmployee);

                                {#alert(document.getElementById("query-filter").getAttribute("value"))#}

                                let query_search = document.getElementById("query-workDay-search").value;
                                let query_filter = document.getElementById("query-workDay-filter").value;

                                tag_a.href = "?page-size=" + {{page_size}} + query_search + query_filter;

                                tag_a.click();
                            }

                            // arguments: reference to select list, callback function (optional)
                            function getSelectedOptions(sel, fn) {
                                var opts = [], opt;

                                // loop through options in select list
                                for (var i=0, len=sel.options.length; i<len; i++) {
                                    opt = sel.options[i];

                                    // check if selected
                                    if ( opt.selected ) {
                                        // add to array of option elements to return from this function
                                        opts.push(opt);

                                        // invoke optional callback function if provided
                                        if (fn) {
                                            fn(opt);
                                        }
                                    }
                                }

                                // return array containing references to selected option elements
                                return opts;
                            }
                        </script>

                    </div>
                </div>

            </div>
            <!-- Panel -->

        </div>

    </div>


    <!-- Modal new -->
    <div class="modal fade" id="modelWorkDayNew" tabindex="-1" role="dialog" aria-labelledby="modelWorkHourNewLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelWorkHourNewLabel">ایجاد ساعات کاری جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormWorkDay" action="{% url 'project:workDay-create' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateWorkDayForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="workDay-selected-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="workHour-selectBox" searchable="جست و جو" onchange="changeWorkHourNewFunc()">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeWorkHourNewFunc() {
                                                let selectBox = document.getElementById("workHour-selectBox");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('workDay-selected-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (workHour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="workDay-input-new-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعت کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" name="description" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (workDate) -->
                            <label for="workDay-input-new-workDate" class="">تاریخ</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_new_workDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="workDay-input-new-workDate" name="workDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_new_workDate"> </label>
                            </div>

                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modelWorkDayEdit" tabindex="-1" role="dialog" aria-labelledby="modelWorkDayEditLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelWorkDayEditLabel">تغییر ساعات کاری</h5>
            </div>
                <!-- form -->
            <div class="card-body pr-5">
                <form name="FormWorkWorkDayEdit" action="{% url 'project:workDay-update' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateWorkDayEditForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- selected salary id -->
                    <input type="hidden" id="selected-workDay-id" name="workDayId">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="workDay-selected-edit-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="workDay-selectBoxEdit" searchable="جست و جو" onchange="workDayChangeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('workDay-selected-edit-employee-id').value = {{ employee.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function workDayChangeFunc() {
                                                let selectBox = document.getElementById("workDay-selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('workDay-selected-edit-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (workHour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="workDay-input-edit-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعت کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="workDay-input-edit-description" name="description" class="md-textarea form-control" rows="4" ></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (workDate) -->
                            <label for="workDay-input-edit-workDate" class="">تاریخ
                            : <span id="lbl-workDay-edit-workDate"></span>
                            </label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_edit_workDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="workDay-input-edit-workDate" name="workDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_edit_workDate"> </label>
                            </div>

                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="workDay-model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal delete -->
    <input type="hidden" id="selected-workDay-delete-id" selected-id="-1">
    <div class="modal fade" id="modal-workDay-delete" tabindex="-1" role="dialog" aria-labelledby="exampleWorkDayModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleWorkDayModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="model-workDay-delete-body">
            آیا از حذف این فیلد مطمئن هستید؟
          </div>
          <div id="model-workDay-delete-a-tag" class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
              <a >
                  <button type="button" class="btn btn-secondary">تایید</button>
              </a>
          </div>
        </div>
      </div>
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

    <!-- filter queries -->
    <input type="hidden" id="query-workDay-filter" value="&start_date={{filter_param.start_date|default_if_none:''}}&end_date={{filter_param.end_date|default_if_none:''}}&">
{#    selectedEmployees={{ filter_param.end_date|default_if_none:'' }}">#}
    <!-- search queries -->
    <input type="hidden" id="query-workDay-search" value="&search={{search}}">

{% endblock %}

{% block javascript %}

    <script>
        //-- handle delete modal --//
        function showWorkDayDeleteModal() {
            let idd = $("#selected-workDay-delete-id").attr("selected-id");
            let a_tag = $("#model-workDay-delete-a-tag");
            let modal_body = $("#model-workDay-delete-body");
            let base_url = $("#url-base").attr("data-url");
            a_tag.empty();
            modal_body.empty();
            if(idd == "-1"){
                modal_body.append(
                    `ابتدا آیتمی را انتخاب کنید`
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">خروج</button>`
                );
            }
            else {
                modal_body.append(
                    'آیا از حذف شدن این آیتم اطمینان دارید؟'
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>` +
                    `<a href='${base_url}${idd}/workDay-delete/'">` +
                    `<button type="button" class="btn btn-secondary">تایید</button>` +
                    `</a>`
                );
            }
        }
    </script>

    <script>

        $("#workDay-table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.workDayId').attr("dataId");
           {#alert(value)#}
           $('#selected-workDay-delete-id').attr("selected-id", value);
           $('#selected-workDay-id').attr("value", value); //edit

            //-- fill edit fields --//
            $('#workDay-input-edit-workDate').attr('value', $(this).find('td.workDate').attr('data-workDate'));
            $('#lbl-workDay-edit-workDate').html($(this).find('td.workDate').html());
            $('#workDay-input-edit-workHour').attr('value', $(this).find('td.workHour').html());
            $('#workDay-input-edit-description').val( $(this).find('td.description').html());
            let empId =$(this).find('input.employee').attr("employeId");
            $('#workDay-selectBoxEdit').val(empId);
            $('#workDay-selected-edit-employee-id').val(empId);


        });

        $('.ok').on('click', function(e){
            alert($("#workDay-table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });


        //-- validate image field in new workDay form --//
        function validateWorkDayForm() {

            let price = document.forms["FormWorkDay"]["workDay-input-new-workHour"].value;
            if (price === null || price === "") {
                $('#workDay-input-new-workHour').attr('value', 0);
            }
            let employeeId = document.forms["FormWorkDay"]["workDay-selected-employee-id"].value;
            if (employeeId === "-1") {
                alert("کارمند مورد نظر را انتخاب کنید");
                return false
            }

        }

        //-- validate image field in edit salary form --//
        function validateWorkDayEditForm() {

        }

    <!-- table select -->
    </script>

    <!-- search -->
    <script>
        $("#search-workDay").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-workDay").val();

                document.getElementById("query-workDay-search").setAttribute("value", "&search=" + srchterm);

                let query_search = document.getElementById("query-workDay-search").value;
                let query_filter = document.getElementById("query-workDay-filter").value;

                let tag_a = document.getElementById("workDay-tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + query_search + query_filter;
                tag_a.click();
            }
        });
    </script>

    <!--jalali calender-->
    <script>
    // persian calender : https://github.com/Mds92/MD.BootstrapPersianDateTimePicker
        $(document).ready(function () {
            $("#dt_class_new_workDate").MdPersianDateTimePicker({
                targetDateSelector: "#workDay-input-new-workDate",
                targetTextSelector: "#showDate_class_new_workDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
                //rangeSelector: true
            });
            $("#dt_class_edit_workDate").MdPersianDateTimePicker({
                targetDateSelector: "#workDay-input-edit-workDate",
                targetTextSelector: "#showDate_class_edit_workDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
            });
            $("#dt_class_workDay_filter_startDate").MdPersianDateTimePicker({
                targetDateSelector: "#filter-workDa-startDate",
                targetTextSelector: "#showDate_class_workDay_filter_startDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
                //rangeSelector: true
            });
            $("#dt_class_workDay_filter_endDate").MdPersianDateTimePicker({
                targetDateSelector: "#filter-workDa-endDate",
                targetTextSelector: "#showDate_class_workDay_filter_endDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
            });
        });

    </script>

{% endblock %}