<!-- use base html template -->
{% extends 'project/base.html' %}
{% load jalali_tags %}
{% load humanize %}
{% block title %}
    <title>مدیریت بدهی ها</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->


    <!-- new/delete/edit buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelDebtNew"><i class="fas fa-plus-circle mr-1"></i> افزودن</button>
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelDebtEdit"><i class="fas fa-edit mr-1"></i> ویرایش</button>
      <button type="button" class="btn btn-rounded btn-danger btn-sm" data-toggle="modal" data-target="#modal-debt-delete"
      onclick="showDebtDeleteModal()"><i class="fas fa-trash mr-1"></i> حذف</button>
    </div>


    <!-- PAGE SIZE/ search -->
    <div class="container">
        <div class="row ">
            <div class="col-1 mb-2">
                <p>تعداد صفحات</p>
            </div>
            <div class="col-2 mb-2">
                <select id="debt-selector-page-size" class="browser-default custom-select" onchange="debtPageSizeChanged(this.options[this.selectedIndex].value)">
                    <option value="10">10</option>
                    <option value="20" >20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a id="debt-tag-a-page-size" class="d-none" href="?page-size=20">20</a>
                <script>
                    document.getElementById('debt-selector-page-size').value={{ page_size }};
                    function debtPageSizeChanged(page_size) {
                        {#alert(page_size)#}
                        let tag_a = document.getElementById("debt-tag-a-page-size");
                        tag_a.href = "?page-size=" + page_size;
                        tag_a.click();
                    }
                </script>
            </div>
            <div class="col-6"></div>

            <!-- Search form -->
            <div class="col-3 mb-2 ml-0 text-left">
                <input id="search-debt" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
            </div>
        </div>
    <div class="clearfix"></div>
    </div>

    <!-- body -->
    <div >
        <div class="container py-1">

            <div class="row pagination-sm table-responsive" id="debt-list">

                <table class="table table-sm table-hover table-striped"  id="debt-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">کارمند</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">تاریخ بدهی</th>
                        <th scope="col">تاریخ پرداخت</th>
                        <th scope="col">مبلغ</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for debt in debts %}
                        <tr>
                            <input class="debtId" type="hidden" dataId={{ debt.id }}>
                            <input class="employee" type="hidden" employeId={{ debt.employee.id }}>
                            <th scope="row" >{{ forloop.counter }}</th>
                            <td class="employee" >{{ debt.employee.fullName }}</td>
                            <td class="title">{{ debt.title }}</td>
                            <td class="description">{{ debt.description }}</td>
                            <td class="status">{{ debt.status }}</td>
                            <td class="debtDate" data-debtDate="{{ debt.debtDate|date:"Y-m-d" }}">{{ debt.debtDate|to_jalali:'%y/%m/%d' }}</td>
                            <td class="paymentDebtDate" data-paymentDebtDate="{{ debt.paymentDebtDate|date:"Y-m-d" }}">{{ debt.paymentDebtDate|to_jalali:'%y/%m/%d' }}</td>
                            <td class="price" data-price="{{ debt.price }}">{{ debt.price|intcomma }} تومان</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% if debts.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-debt').value">First</a></li>
                    {% if debts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ debts.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-debt').value">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- center page numbers -->
                    {% for i in debts.paginator.page_range %}
                        {% if debts.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-debt').value">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- center page numbers -->
                    {% if debts.has_next %}
                        <a class="page-link" aria-label="Next"  href="?page={{ debts.next_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-debt').value">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>

    <!-- Modal new -->
    <div class="modal fade" id="modelDebtNew" tabindex="-1" role="dialog" aria-labelledby="modelDebtNewLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelDebtNewLabel">ایجاد بدهی جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormNewDebt" action="{% url 'project:debt-create' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateDebtForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="debt-selected-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="debt-selectBox" searchable="جست و جو" onchange="changeDebtNewFunc()">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeDebtNewFunc() {
                                                let selectBox = document.getElementById("debt-selectBox");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('debt-selected-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (title) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-new-title" name="title" class="form-control">
                                        <label for="contact-Subject" class="">عنوان</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (status) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-new-status" name="status" class="form-control">
                                        <label for="contact-Subject" class="">وضعیت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (price) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-new-price" name="price" class="form-control">
                                        <label for="contact-Subject" class="">مبلغ</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" name="description" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (debtDate) -->
                            <label for="debt-input-new-debtDate" class="">تاریخ بدهی</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_new_debtDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="debt-input-new-debtDate" name="debtDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_new_debtDate"> </label>
                            </div>

                            <!-- Grid row (paymentDebtDate) -->
                            <label for="debt-input-new-paymentDebtDate" class="">تاریخ پرداخت</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_new_paymentDebtDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="debt-input-new-paymentDebtDate" name="paymentDebtDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_new_paymentDebtDate"> </label>
                            </div>


                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modelDebtEdit" tabindex="-1" role="dialog" aria-labelledby="modelDebtEditLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelDebtEditLabel">تغییر بدهی</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormDebtEdit" action="{% url 'project:debt-update' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateDebtEditForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- selected salary id -->
                    <input type="hidden" id="selected-debt-id" name="debtId">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="debt-selected-edit-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="debt-selectBoxEdit" searchable="جست و جو" onchange="debtChangeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('debt-selected-edit-employee-id').value = {{ employee.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function debtChangeFunc() {
                                                let selectBox = document.getElementById("debt-selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('debt-selected-edit-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (title) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-edit-title" name="title" class="form-control">
                                        <label for="contact-Subject" class="">عنوان</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (status) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-edit-status" name="status" class="form-control">
                                        <label for="contact-Subject" class="">وضعیت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (price) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="debt-input-edit-price" name="price" class="form-control">
                                        <label for="contact-Subject" class="">مبلغ</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="debt-input-edit-description" name="description" class="md-textarea form-control" rows="3" ></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (debtDate) -->
                            <label for="debt-input-edit-debtDate" class="">تاریخ بدهی</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_edit_debtDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="debt-input-edit-debtDate" name="debtDate" class="form-control">
                                </div>
                                <label id="showDate_class_edit_debtDate"> </label>
                            </div>

                            <!-- Grid row (paymentDebtDate) -->
                            <label for="debt-input-edit-paymentDebtDate" class="">تاریخ پرداخت</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_edit_paymentDebtDate"><i class="fa fa-calendar-alt"></i></span>
                                    </div>
                                    <input type="text" id="debt-input-edit-paymentDebtDate" name="paymentDebtDate" class="form-control">
                                </div>
                                <label id="showDate_class_edit_paymentDebtDate"> </label>
                            </div>

                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="debt-model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal delete -->
    <input type="hidden" id="selected-debt-delete-id" selected-id="-1">
    <div class="modal fade" id="modal-debt-delete" tabindex="-1" role="dialog" aria-labelledby="exampleSDebtModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleDebtModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="model-debt-delete-body">
            آیا از حذف این فیلد مطمئن هستید؟
          </div>
          <div id="model-debt-delete-a-tag" class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
              <a >
                  <button type="button" class="btn btn-secondary">تایید</button>
              </a>
          </div>
        </div>
      </div>
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

{% endblock %}


{% block javascript %}

    <!-- delete -->
    <script>
        //-- handle delete modal --//
        function showDebtDeleteModal() {
            let idd = $("#selected-debt-delete-id").attr("selected-id");
            let a_tag = $("#model-debt-delete-a-tag");
            let modal_body = $("#model-debt-delete-body");
            let base_url = $("#url-base").attr("data-url");
            a_tag.empty();
            modal_body.empty();
            if(idd == "-1"){
                modal_body.append(
                    `ابتدا آیتمی را انتخاب کنید`
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">خروج</button>`
                );
            }
            else {
                modal_body.append(
                    'آیا از حذف شدن این آیتم اطمینان دارید؟'
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>` +
                    `<a href='${base_url}${idd}/debt-delete/'">` +
                    `<button type="button" class="btn btn-secondary">تایید</button>` +
                    `</a>`
                );
            }
        }
    </script>

    <!-- table select -->
    <script>

        $("#debt-table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.debtId').attr("dataId");
           {#alert(value)#}
           $('#selected-debt-delete-id').attr("selected-id", value);
           $('#selected-debt-id').attr("value", value); //edit

            //-- fill edit fields --//
            $('#debt-input-edit-debtDate').attr('value', $(this).find('td.debtDate').attr('data-debtDate'));
            $('#debt-input-edit-paymentDebtDate').attr('value', $(this).find('td.paymentDebtDate').attr('data-paymentDebtDate'));
            $('#debt-input-edit-description').val( $(this).find('td.description').html());
            $('#debt-input-edit-title').attr('value', $(this).find('td.title').html());
            $('#debt-input-edit-price').attr('value', $(this).find('td.price').attr("data-price"));
            $('#debt-input-edit-status').attr('value', $(this).find('td.status').html());
            let empId =$(this).find('input.employee').attr("employeId");
            $('#selectBoxEdit').val(empId);


        });

        $('.ok').on('click', function(e){
            alert($("#debt-table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });


        //-- validate image field in new project form --//
        function validateDebtForm() {

            let price = document.forms["FormNewDebt"]["debt-input-new-price"].value;
            if (price === null || price === "") {
                $('#debt-input-new-price').attr('value', 0)
            }
            let employeeId = document.forms["FormNewDebt"]["debt-selected-employee-id"].value;
            if (employeeId === "-1") {
                alert("کارمند مورد نظر را انتخاب کنید")
                return false
            }

        }

        //-- validate image field in edit salary form --//
        function validateSalaryEditForm() {

        }

    </script>

    <!-- search -->
    <script>
        $("#search-debt").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-debt").val();
                let tag_a = document.getElementById("debt-tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + "&search=" + srchterm;
                tag_a.click();
            }
        });
    </script>

    <!--jalali calender-->
    <script>
    // persian calender : https://github.com/Mds92/MD.BootstrapPersianDateTimePicker
        $(document).ready(function () {
            $("#dt_class_new_debtDate").MdPersianDateTimePicker({
                targetDateSelector: "#debt-input-new-debtDate",
                targetTextSelector: "#showDate_class_new_debtDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
                //rangeSelector: true
            });
            $("#dt_class_new_paymentDebtDate").MdPersianDateTimePicker({
                targetDateSelector: "#debt-input-new-paymentDebtDate",
                targetTextSelector: "#showDate_class_new_paymentDebtDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
            });
            $("#dt_class_edit_debtDate").MdPersianDateTimePicker({
                targetDateSelector: "#debt-input-edit-debtDate",
                targetTextSelector: "#showDate_class_edit_debtDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
            });
            $("#dt_class_edit_paymentDebtDate").MdPersianDateTimePicker({
                targetDateSelector: "#debt-input-edit-paymentDebtDate",
                targetTextSelector: "#showDate_class_edit_paymentDebtDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                //inLine: true,
            });
        });

    </script>

{% endblock %}