<!-- use base html template -->
{% extends 'project/base.html' %}
{% load humanize %}
{% block title %}
    <title>شرکت مدیاسافت | خانه</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}
    <!-- load static file in django -->
    {% load staticfiles %}


{#    <link rel="stylesheet" href="{% static 'project/css/sidebar.css' %}">#}
    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
    <!-- top section -->

    <!-- auth checking -->
    {% if user.is_authenticated%}
        <div class="card-body grey lighten-5 rounded-bottom">

            <!-- Grid row -->
            <div class="row">

                <!-- projects -->
                <div class="col-6 p-1">

                    <div class="card grey lighten-2">
                        <div class="card-body pb-0">
                            <i class="fas fa-project-diagram fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">تعداد پروژه ها</p>
                                <p class="mb-0 hour">{{ project_count }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">مبلغ کل</h6>
                            <p class="mb-0">{{ project_total_money|intcomma }} تومان</p>
                        </div>
                    </div>

                </div>

                <!-- employee -->
                <div class="col-6 p-1">

                    <div class="card orange lighten-3">
                        <div class="card-body pb-0">
                            <i class="fas fa-user fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">کارمندها</p>
                                <p class="mb-0 hour">{{ employee_count }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">جمع حقوق ماهانه کارمندان</h6>
                            <p class="mb-0">{{ salary_sum|intcomma }} تومان</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Grid row -->
            <div class="row">

                <!-- Tasks -->
                <div class="col-6 p-1">

                    <div class="card indigo lighten-3">
                        <div class="card-body pb-0">
                            <i class="fas fa-tasks fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">تسک ها</p>
                                <p class="mb-0 hour">{{ task_count }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">اطلاعات تسک ها</h6>
                            <p class="mb-0">15</p>
                        </div>
                    </div>

                </div>

                <!-- salaries -->
                <div class="col-6 p-1">

                    <div class="card grey lighten-2">
                        <div class="card-body pb-0">
                            <i class="fas fa-money-bill fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">حقوق ها</p>
                                <p class="mb-0 hour">{{ salaries_count }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">جمع</h6>
                            <p class="mb-0">{{ salaries_sum|intcomma }} تومان</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Grid row -->
            <div class="row">

                <!-- Income/Outcome -->
                <div class="col-6 p-1">

                    <div class="card orange lighten-3">
                        <div class="card-body pb-0">
                            <i class="fas fa-box-usd fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">درآمد/هزینه</p>
                                <p class="mb-0 hour">{{ incomes_sum }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">درآمد/هزینه/سود</h6>
                            <p class="mb-0">{{ income_sum|intcomma }}/{{ outcome_sum|intcomma }}/{{ incomes_money|intcomma }} تومان</p>
                        </div>
                    </div>

                </div>

                <!-- Debts -->
                <div class="col-6 p-1">

                    <div class="card indigo white-text">
                        <div class="card-body pb-0">
                            <i class="fas fa-money-check-alt fa-3x pb-4"></i>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0 h5">بدهی ها</p>
                                <p class="mb-0 hour">{{ debts_count }}</p>
                            </div>
                        </div>
                        <hr class="hr-light">
                        <div class="card-body pt-0">
                            <h6 class="font-weight-bold mb-1">جمع</h6>
                            <p class="mb-0">{{ debts_sum|intcomma }} تومان</p>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Grid row -->

        </div>

    {% else %}
        <!-- Material form subscription -->
        <div class="d-flex justify-content-center">
            <div class="card w-50" style="margin-top: 10%">

                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>مدیریت پروژه ها</strong>
                </h5>

                <!--Card content-->
                <div class="card-body px-lg-5 h-50">

                    <!-- Form -->
                    <form class="text-center" style="color: #757575;" action="#!">

                        <!-- logo -->
                        <div class="md-form">
                            <img src="http://mediasoft.ir/wp-content/uploads/2019/11/Logo.png" alt="" style="width: 100%">
                        </div>

                        <!-- Sign in button -->
                        <a  href="{% url 'login'%}?next={{request.path}}" class="btn btn-rounded btn-lg btn-info mx-4 w-75"><i class="fas fa-user-lock"></i></a>

                    </form>
                    <!-- Form -->

                </div>

            </div>
        </div>
        <!-- Material form subscription -->
    {% endif %}

<!-- end of body block -->
{% endblock %}

<!-- begin of section block -->
{% block section %}

    {% load staticfiles %}



    <!-- product tiles -->
    <div class="row mt-3 mx-auto">

        <div class="col-12 col-md-10 p-0 pr-2">
            <div class="">

                <a href="#" id="go-to-top">
                    <i class="fa fa-chevron-up" style="margin-top: 12px"></i>
                </a>
            </div>
        </div>
    </div>

    <input type="hidden" id="url-home" data-url="{% url 'project:index' %}" />
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />


    <script src="{% static 'project/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'project/js/wow.min.js' %}"></script>
    <script src="{% static 'project/js/smooth-scroll.js' %}"></script>
    <script src="{% static 'project/js/base-scripts.js' %}"></script>
    <script src="{% static 'project/js/scripts.js' %}"></script>
    <script>
        $(".breadcrumb").addClass('d-none');
    </script>

    {% for category in categories %}
        <script type="text/javascript">
            showProducts({{ category.id }})
        </script>
    {% endfor %}

    <script>
        $("#filtering-cities").addClass('d-none')
    </script>
<!-- end of section block -->
{% endblock %}

