<!-- use base html template -->
{% extends 'project/base.html' %}
{% block title %}
    <title>مدیریت حقوق ها</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <div class="alert alert-primary" role="alert">
        حقوق ها
    </div>

    <!-- new/delete/edit buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelSalaryNew"><i class="fas fa-plus-circle mr-1"></i> افزودن</button>
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelSalaryEdit"><i class="fas fa-edit mr-1"></i> ویرایش</button>
      <button type="button" class="btn btn-rounded btn-danger btn-sm" data-toggle="modal" data-target="#modal-salary-delete"
      onclick="showSalaryDeleteModal()"><i class="fas fa-trash mr-1"></i> حذف</button>
    </div>


    <!-- PAGE SIZE/ search -->
    <div class="container">
        <div class="row ">
            <div class="col-1 mb-2">
                <p>تعداد صفحات</p>
            </div>
            <div class="col-2 mb-2">
                <select id="selector-page-size" class="browser-default custom-select" onchange="pageSizeChanged(this.options[this.selectedIndex].value)">
                    <option value="10">10</option>
                    <option value="20" >20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a id="tag-a-page-size" class="d-none" href="?page-size=20">20</a>
                <script>
                    document.getElementById('selector-page-size').value={{ page_size }};
                    function pageSizeChanged(page_size) {
                        {#alert(page_size)#}
                        let tag_a = document.getElementById("tag-a-page-size");
                        tag_a.href = "?page-size=" + page_size;
                        tag_a.click();
                    }
                </script>
            </div>
            <div class="col-6"></div>

            <!-- Search form -->
            <div class="col-3 mb-2 ml-0 text-left">
                <input id="search-salary" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
            </div>
        </div>
    <div class="clearfix"></div>
    </div>

    <!-- body -->
    <div >
        <div class="container py-1">

            <div class="row pagination-sm table-responsive" id="project-list">

                <table class="table table-sm table-hover table-striped"  id="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">کارمند</th>
                        <th scope="col">حقوق</th>
                        <th scope="col">تاریخ</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">ساعات</th>
                        <th scope="col">تصویر</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for salary in salaries %}
                        <tr>
                            <input class="salaryId" type="hidden" dataId={{ salary.id }}>
                            <input class="employee" type="hidden" employeId={{ salary.employee.id }}>
                            <th scope="row" >{{ forloop.counter }}</th>
                            <td class="employee" >{{ salary.employee.fullName }}</td>
                            <td class="mony">{{ salary.money }}</td>
                            <td class="salaryDate">{{ salary.salaryDate|date:"Y-m-d" }}</td>
                            <td class="description">{{ salary.description }}</td>
                            <td class="workHour">{{ salary.workHour }}</td>
                            {% if salary.pic %}
                                <td ><a href="{{ salary.pic.url }}"><i class="fa fa-image"></i></a></td>
                            {% else %}
                                <td ><a href="#"></a></td>

                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% if salaries.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-salary').value">First</a></li>
                    {% if salaries.has_previous %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ salaries.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-salary').value">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- center page numbers -->
                    {% for i in salaries.paginator.page_range %}
                        {% if salaries.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-salary').value">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- center page numbers -->
                    {% if salaries.has_next %}
                        <a class="page-link" aria-label="Next"  href="?page={{ salaries.next_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-salary').value">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>

    <!-- Modal new -->
    <div class="modal fade" id="modelSalaryNew" tabindex="-1" role="dialog" aria-labelledby="modelSalaryNewLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelSalaryNewLabel">ایجاد حقوق جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormSalary" action="{% url 'project:salary-create' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateSalaryForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- picture field is empty or not? -->
                    <input type="hidden" id="picValidator" name="isPicValid" value="true">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="selected-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="selectBox" searchable="جست و جو" onchange="changeSalaryNewFunc()">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeSalaryNewFunc() {
                                                let selectBox = document.getElementById("selectBox");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('selected-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (start/end date) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="input-new-salaryDate" name="salaryDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ پرداخت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (work hour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="input-new-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعات کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (money) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="input-new-money" name="money" class="form-control">
                                        <label for="contact-Subject" class="">حقوق</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" name="description" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (image) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                          <span>انتخاب تصویر</span>
                                          <input type="file"  name="pic" id="modal-new-upload-img">
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Upload your file">
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modelSalaryEdit" tabindex="-1" role="dialog" aria-labelledby="modelSalaryEditLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelSalaryEditLabel">ایجاد حقوق جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormSalaryEdit" action="{% url 'project:salary-update' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateSalaryEditForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- picture field is empty or not? -->
                    <input type="hidden" id="picValidatorSalary_edi" name="isPicValid" value="true">
                    <!-- selected salary id -->
                    <input type="hidden" id="selected-salary-id" name="salaryId">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="selected-edit-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="selectBoxEdit" searchable="جست و جو" onchange="changeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('selected-edit-employee-id').value = {{ employee.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeFunc() {
                                                let selectBox = document.getElementById("selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('selected-edit-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (start/end date) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="input-salary-edit-salaryDate" name="salaryDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ پرداخت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (work hour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="input-salary-edit-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعات کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (money) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="input-salary-edit-money" name="money" class="form-control">
                                        <label for="contact-Subject" class="">حقوق</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="input-salary-edit-description" name="description" class="md-textarea form-control" rows="3" ></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (image) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                          <span>انتخاب تصویر</span>
                                          <input type="file"  name="pic" id="modal-salary-edit-upload-img">
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Upload your file">
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal delete -->
    <input type="hidden" id="selected-salary-delete-id" selected-id="-1">
    <div class="modal fade" id="modal-salary-delete" tabindex="-1" role="dialog" aria-labelledby="exampleSalaryModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleSalaryModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="model-salary-delete-body">
            آیا از حذف این فیلد مطمئن هستید؟
          </div>
          <div id="model-salary-delete-a-tag" class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
              <a >
                  <button type="button" class="btn btn-secondary">تایید</button>
              </a>
          </div>
        </div>
      </div>
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'project/js/jquery.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/mdb.min.js' %}"></script>
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/addons/datatables.min.js' %}"></script><!-- MDBootstrap Datatables  -->
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/addons/datatables-select.min.js' %}"></script><!-- MDBootstrap Datatables  -->

    <script>
        //-- handle delete modal --//
        function showSalaryDeleteModal() {
            let idd = $("#selected-salary-delete-id").attr("selected-id");
            let a_tag = $("#model-salary-delete-a-tag");
            let modal_body = $("#model-salary-delete-body");
            let base_url = $("#url-base").attr("data-url");
            a_tag.empty();
            modal_body.empty();
            if(idd == "-1"){
                modal_body.append(
                    `ابتدا آیتمی را انتخاب کنید`
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">خروج</button>`
                );
            }
            else {
                modal_body.append(
                    'آیا از حذف شدن این آیتم اطمینان دارید؟'
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>` +
                    `<a href='${base_url}${idd}/salary-delete/'">` +
                    `<button type="button" class="btn btn-secondary">تایید</button>` +
                    `</a>`
                );
            }
        }
    </script>

    <script>

        $("#table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.salaryId').attr("dataId");
           {#alert(value)#}
           $('#selected-salary-delete-id').attr("selected-id", value);
           $('#selected-salary-id').attr("value", value); //edit

            //-- fill edit fields --//
            $('#input-salary-edit-money').attr('value', $(this).find('td.mony').html())
            $('#input-salary-edit-description').val( $(this).find('td.description').html())
            $('#input-salary-edit-salaryDate').attr('value', $(this).find('td.salaryDate').html())
            $('#input-salary-edit-workHour').attr('value', $(this).find('td.workHour').html())
            $('#input-salary-edit-salaryDate').attr('value', $(this).find('td.salaryDate').html());
            let empId =$(this).find('input.employee').attr("employeId");
            $('#selectBoxEdit').val(empId)


        });

        $('.ok').on('click', function(e){
            alert($("#table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });


        //-- validate image field in new project form --//
        function validateSalaryForm() {
            console.log("in validate")
            let pic = document.forms["FormSalary"]["modal-new-upload-img"].value;
            if (pic === null || pic === "") {
                $('#picValidator').attr('value', false)
            }
            let mony = document.forms["FormSalary"]["input-new-money"].value;
            if (mony === null || mony === "") {
                $('#input-new-money').attr('value', 0)
            }
            let workSalary = document.forms["FormSalary"]["input-new-workHour"].value;
            if (workSalary === null || workSalary === "") {
                $('#input-new-workHour').attr('value', 0)
            }
            let employeeId = document.forms["FormSalary"]["selected-employee-id"].value;
            if (employeeId === "-1") {
                alert("کارمند مورد نظر را انتخاب کنید")
                return false
            }

        }

        //-- validate image field in edit salary form --//
        function validateSalaryEditForm() {
            let pic = document.forms["FormSalaryEdit"]["modal-salary-edit-upload-img"].value;
            if (pic === null || pic === "") {
                $('#picValidatorSalary_edi').attr('value', false)
            }
        }

    </script>

    <!-- search -->
    <script>
        $("#search-salary").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-salary").val();
                let tag_a = document.getElementById("tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + "&search=" + srchterm;
                tag_a.click();
            }
        });
    </script>
{% endblock %}