<!-- use base html template -->
{% extends 'project/base.html' %}
{% block title %}
    <title>مدیریت تسک ها</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <div class="alert alert-primary" role="alert">
        تسک ها
    </div>

    <!-- new/delete/edit buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelTaskNew"><i class="fas fa-plus-circle mr-1"></i> افزودن</button>
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelTaskEdit"><i class="fas fa-edit mr-1"></i> ویرایش</button>
      <button type="button" class="btn btn-rounded btn-danger btn-sm" data-toggle="modal" data-target="#modal-task-delete"
      onclick="showTaskDeleteModal()"><i class="fas fa-trash mr-1"></i> حذف</button>
    </div>


    <!-- PAGE SIZE/ search -->
    <div class="container">
        <div class="row ">
            <div class="col-1 mb-2">
                <p>تعداد صفحات</p>
            </div>
            <div class="col-2 mb-2">
                <select id="task-selector-page-size" class="browser-default custom-select" onchange="taskPageSizeChanged(this.options[this.selectedIndex].value)">
                    <option value="10">10</option>
                    <option value="20" >20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a id="task-tag-a-page-size" class="d-none" href="?page-size=20">20</a>
                <script>
                    document.getElementById('task-selector-page-size').value={{ page_size }};
                    function taskPageSizeChanged(page_size) {
                        {#alert(page_size)#}
                        let tag_a = document.getElementById("task-tag-a-page-size");
                        tag_a.href = "?page-size=" + page_size;
                        tag_a.click();
                    }
                </script>
            </div>
            <div class="col-6"></div>

            <!-- Search form -->
            <div class="col-3 mb-2 ml-0 text-left">
                <input id="search-task" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
            </div>
        </div>
    <div class="clearfix"></div>
    </div>

    <!-- body -->
    <div >
        <div class="container py-1">

            <div class="row pagination-sm table-responsive" id="task-list">

                <table class="table table-sm table-hover table-striped"  id="task-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">کارمند</th>
                        <th scope="col">پروژه</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">تاریخ تسک</th>
                        <th scope="col">تاریخ اتمام</th>
                        <th scope="col">توضیحات</th>
                        <th scope="col">تصویر</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <input class="taskId" type="hidden" dataId={{ task.id }}>
                            <input class="employee" type="hidden" employeId={{ task.employees.id }}>
                            <input class="project" type="hidden" projectId={{ task.project.id }}>
                            <th scope="row" >{{ forloop.counter }}</th>
                            <td class="employee" >{{ task.employees.fullName }}</td>
                            <td class="project" >{{ task.project.title }}</td>
                            <td class="title">{{ task.title }}</td>
                            <td class="status">{{ task.status }}</td>
                            <td class="taskDate">{{ task.taskDate|date:"Y-m-d" }}</td>
                            <td class="dueDate">{{ task.dueDate|date:"Y-m-d" }}</td>
                            <td class="description">{{ task.description }}</td>
                            {% if task.pic %}
                                <td ><a href="{{ task.pic.url }}"><i class="fa fa-image"></i></a></td>
                            {% else %}
                                <td ><a href="#"></a></td>

                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% if salaries.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-task').value">First</a></li>
                    {% if salaries.has_previous %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ tasks.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-task').value">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- center page numbers -->
                    {% for i in tasks.paginator.page_range %}
                        {% if tasks.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-task').value">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- center page numbers -->
                    {% if tasks.has_next %}
                        <a class="page-link" aria-label="Next"  href="?page={{ tasks.next_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-task').value">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>

    <!-- Modal new -->
    <div class="modal fade" id="modelTaskNew" tabindex="-1" role="dialog" aria-labelledby="modelTaskNewLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelTaskNewLabel">ایجاد تسک جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormTask" action="{% url 'project:task-create' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateTaskForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- picture field is empty or not? -->
                    <input type="hidden" id="task-picValidator" name="isTaskPicValid" value="true">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="task-selected-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="task-selectBox" searchable="جست و جو" onchange="changeTaskSalaryNewFunc()">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeTaskSalaryNewFunc() {
                                                let selectBox = document.getElementById("task-selectBox");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('task-selected-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!--Dropdown project-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="task-selected-project-id" name="project" value="-1">
                                        <select class="mdb-select md-form" id="task-selectBox-project" searchable="جست و جو" onchange="changeTaskProjectNewFunc()">
                                            <option value="" disabled selected >.    پروژه موردنظر را اتخاب کنید</option>
                                            {% for project in projects %}
                                                <option value="{{ project.id }}" >.    {{ project.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeTaskProjectNewFunc() {
                                                let selectBox = document.getElementById("task-selectBox-project");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('task-selected-project-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (title) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="task-input-new-title" name="title" class="form-control">
                                        <label for="contact-Subject" class="">عنوان</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (status) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="task-input-new-status" name="status" class="form-control">
                                        <label for="contact-Subject" class="">وضعیت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (taskDate) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="task-input-new-taskDate" name="taskDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ تسک</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (dueDate) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="task-input-new-dueDate" name="dueDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ اتمام</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" name="description" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (image) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                          <span>انتخاب تصویر</span>
                                          <input type="file"  name="pic" id="task-modal-new-upload-img">
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Upload your file">
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="task-model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modelTaskEdit" tabindex="-1" role="dialog" aria-labelledby="modelTaskEditLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelTaskEditLabel">ایجاد تسک جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormTaskEdit" action="{% url 'project:task-update' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateTaskEditForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- picture field is empty or not? -->
                    <input type="hidden" id="picValidatorTask_edit" name="isTaskPicValid" value="true">
                    <!-- selected salary id -->
                    <input type="hidden" id="selected-task-id" name="taskId">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="task-selected-edit-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="task-employee-selectBoxEdit" searchable="جست و جو" onchange="taskChangeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('task-selected-edit-employee-id').value = {{ employee.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function taskChangeFunc() {
                                                let selectBox = document.getElementById("task-employee-selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('task-selected-edit-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!--Dropdown project-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="task-selected-edit-project-id" name="project" value="-1">
                                        <select class="mdb-select md-form" id="task-project-selectBoxEdit" searchable="جست و جو" onchange="taskProjectChangeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for project in projects %}
                                                <option value="{{ project.id }}" >.    {{ project.title }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('task-selected-edit-project-id').value = {{ project.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function taskProjectChangeFunc() {
                                                let selectBox = document.getElementById("task-project-selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('task-selected-edit-project-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (title) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="task-input-edit-title" name="title" class="form-control">
                                        <label for="contact-Subject" class="">عنوان</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (status) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="task-input-edit-status" name="status" class="form-control">
                                        <label for="contact-Subject" class="">وضعیت</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (taskDate) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="task-input-edit-taskDate" name="taskDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ تسک</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (dueDate) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="date" value="2019-11-21" id="task-input-edit-dueDate" name="dueDate" class="form-control">
                                        <label for="contact-Subject" class="">تاریخ اتمام</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="task-input-edit-description" name="description" class="md-textarea form-control" rows="3" ></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (image) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="file-field">
                                        <div class="btn btn-primary btn-sm float-left">
                                          <span>انتخاب تصویر</span>
                                          <input type="file"  name="pic" id="modal-task-edit-upload-img">
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Upload your file">
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal delete -->
    <input type="hidden" id="selected-task-delete-id" selected-id="-1">
    <div class="modal fade" id="modal-task-delete" tabindex="-1" role="dialog" aria-labelledby="exampleTaskModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleTaskModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="model-task-delete-body">
            آیا از حذف این فیلد مطمئن هستید؟
          </div>
          <div id="model-task-delete-a-tag" class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
              <a >
                  <button type="button" class="btn btn-secondary">تایید</button>
              </a>
          </div>
        </div>
      </div>
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'project/js/jquery.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/mdb.min.js' %}"></script>
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/addons/datatables.min.js' %}"></script><!-- MDBootstrap Datatables  -->
    <!-- MDB table core JavaScript -->
    <script type="text/javascript" src="{% static 'project/js/addons/datatables-select.min.js' %}"></script><!-- MDBootstrap Datatables  -->

    <script>
        //-- handle delete modal --//
        function showTaskDeleteModal() {
            let idd = $("#selected-task-delete-id").attr("selected-id");
            let a_tag = $("#model-task-delete-a-tag");
            let modal_body = $("#model-task-delete-body");
            let base_url = $("#url-base").attr("data-url");
            a_tag.empty();
            modal_body.empty();
            if(idd == "-1"){
                modal_body.append(
                    `ابتدا آیتمی را انتخاب کنید`
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">خروج</button>`
                );
            }
            else {
                modal_body.append(
                    'آیا از حذف شدن این آیتم اطمینان دارید؟'
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>` +
                    `<a href='${base_url}${idd}/task-delete/'">` +
                    `<button type="button" class="btn btn-secondary">تایید</button>` +
                    `</a>`
                );
            }
        }
    </script>

    <script>

        $("#task-table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.taskId').attr("dataId");
           {#alert(value)#}
           $('#selected-task-delete-id').attr("selected-id", value);
           $('#selected-task-id').attr("value", value); //edit

            //-- fill edit fields --//
            $('#task-input-edit-title').attr('value', $(this).find('td.title').html())
            $('#task-input-edit-description').val( $(this).find('td.description').html())
            $('#task-input-edit-dueDate').attr('value', $(this).find('td.dueDate').html())
            $('#task-input-edit-taskDate').attr('value', $(this).find('td.taskDate').html())
            $('#task-input-edit-status').attr('value', $(this).find('td.status').html());
            let empId =$(this).find('input.employee').attr("employeId");
            $('#task-employee-selectBoxEdit').val(empId)
            let prjId =$(this).find('input.project').attr("projectId");
            $('#task-project-selectBoxEdit').val(prjId)


        });

        $('.ok').on('click', function(e){
            alert($("#task-table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });


        //-- validate image field in new project form --//
        function validateTaskForm() {
            console.log("in validate")
            let pic = document.forms["FormTask"]["task-modal-new-upload-img"].value;
            if (pic === null || pic === "") {
                $('#task-picValidator').attr('value', false)
            }
            let dueDate = document.forms["FormTask"]["task-input-new-dueDate"].value;
            if (dueDate === null || dueDate === "") {
                $('#task-input-new-dueDate').attr('value', 0)
            }
            let taskDate = document.forms["FormTask"]["task-input-new-taskDate"].value;
            if (taskDate === null || taskDate === "") {
                $('#task-input-new-taskDate').attr('value', 0)
            }
            let employeeId = document.forms["FormTask"]["task-selected-employee-id"].value;
            if (employeeId === "-1") {
                alert("کارمند مورد نظر را انتخاب کنید")
                return false
            }
            let eprojectId = document.forms["FormTask"]["task-selected-project-id"].value;
            if (eprojectId === "-1") {
                alert("پروژه مورد نظر را انتخاب کنید")
                return false
            }

        }

        //-- validate image field in edit salary form --//
        function validateTaskEditForm() {
            let pic = document.forms["FormTaskEdit"]["modal-task-edit-upload-img"].value;
            if (pic === null || pic === "") {
                $('#picValidatorTask_edit').attr('value', false)
            }
        }

    </script>

    <!-- search -->
    <script>
        $("#search-task").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-task").val();
                let tag_a = document.getElementById("task-tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + "&search=" + srchterm;
                tag_a.click();
            }
        });
    </script>
{% endblock %}