<!-- use base html template -->
{% extends 'project/base.html' %}
{% load jalali_tags %}
{% load humanize %}
{% block title %}
    <title>مدیریت روزهای کاری</title>
{% endblock %}
<!-- begin of body block -->
{% block body %}

    <!-- load static file in django -->
    {% load staticfiles %}


    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables.min.css' %}"><!-- MDBootstrap Datatables  -->
    <!-- Material Design Bootstrap table -->
    <link rel="stylesheet" href="{% static 'project/css/addons/datatables-select.min.css' %}"><!-- MDBootstrap Datatables  -->

    <div class="alert alert-primary" role="alert">
        روزهای ها کاری
    </div>

    <!-- new/delete/edit buttons -->
    <div class="text-center">
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelWorkDayNew"><i class="fas fa-plus-circle mr-1"></i> افزودن</button>
      <button type="button" class="btn btn-rounded btn-info btn-sm" data-toggle="modal" data-target="#modelWorkDayEdit"><i class="fas fa-edit mr-1"></i> ویرایش</button>
      <button type="button" class="btn btn-rounded btn-danger btn-sm" data-toggle="modal" data-target="#modal-workDay-delete"
      onclick="showWorkDayDeleteModal()"><i class="fas fa-trash mr-1"></i> حذف</button>
    </div>


    <!-- PAGE SIZE/ search -->
    <div class="container">
        <div class="row ">
            <div class="col-1 mb-2">
                <p>تعداد صفحات</p>
            </div>
            <div class="col-2 mb-2">
                <select id="workDay-selector-page-size" class="browser-default custom-select" onchange="workDayPageSizeChanged(this.options[this.selectedIndex].value)">
                    <option value="10">10</option>
                    <option value="20" >20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a id="workDay-tag-a-page-size" class="d-none" href="?page-size=20">20</a>
                <script>
                    document.getElementById('workDay-selector-page-size').value={{ page_size }};
                    function workDayPageSizeChanged(page_size) {
                        {#alert(page_size)#}
                        let tag_a = document.getElementById("workDay-tag-a-page-size");
                        tag_a.href = "?page-size=" + page_size;
                        tag_a.click();
                    }
                </script>
            </div>
            <div class="col-6"></div>

            <!-- Search form -->
            <div class="col-3 mb-2 ml-0 text-left">
                <input id="search-debt" class="form-control" type="text" placeholder="جست و جو" aria-label="Search" value="{{ search }}">
            </div>
        </div>
    <div class="clearfix"></div>
    </div>

    <!-- body -->
    <div >
        <div class="container py-1">

            <div class="row pagination-sm table-responsive" id="workDay-list">

                <table class="table table-sm table-hover table-striped"  id="workDay-table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">کارمند</th>
                        <th scope="col">تاریخ کار</th>
                        <th scope="col">ساعت کاری</th>
                        <th scope="col">توضیحات</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for workDay in workdays %}
                        <tr>
                            <input class="workDayId" type="hidden" dataId={{ workDay.id }}>
                            <input class="employee" type="hidden" employeId={{ workDay.employee.id }}>
                            <th scope="row" >{{ forloop.counter }}</th>
                            <td class="employee" >{{ workDay.employee.fullName }}</td>
                            <td class="workDate" data-workDate="{{ workDay.workDate|date:"Y-m-d" }}">{{ workDay.workDate|to_jalali:'%y/%m/%d' }}</td>
                            <td class="workHour">{{ workDay.workHour }}</td>
                            <td class="description">{{ workDay.description }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- pagination -->
    <div class="d-flex justify-content-center">
        {% if debts.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item"><a class="page-link"  href="?page=1&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-workHour').value">First</a></li>
                    {% if workdays.has_previous %}
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous" href="?page={{ workdays.previous_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-workHour').value">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <!-- center page numbers -->
                    {% for i in workHours.paginator.page_range %}
                        {% if debts.number == i %}
                            <li class="page-item active"><a class="page-link">{{ i }}</a></li>

                        {% else %}
                            <li class="page-item"><a class="page-link"  href="?page={{ i }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-workHour').value">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!-- center page numbers -->
                    {% if debts.has_next %}
                        <a class="page-link" aria-label="Next"  href="?page={{ workHours.next_page_number }}&page-size={{ page_size }}" onclick="this.href += '&search=' + document.getElementById('search-workHour').value">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    {% endif %}

                    <li class="page-item"><a class="page-link">Last</a></li>
                </ul>
            </nav>
        {% endif %}
    </div>

    <!-- Modal new -->
    <div class="modal fade" id="modelWorkDayNew" tabindex="-1" role="dialog" aria-labelledby="modelWorkHourNewLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelWorkHourNewLabel">ایجاد ساعات کاری جدید</h5>
            </div>
            <div class="card-body pr-5">
                <!-- form -->
                <form name="FormWorkDay" action="{% url 'project:workDay-create' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateWorkDayForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="workDay-selected-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="workHour-selectBox" searchable="جست و جو" onchange="changeWorkHourNewFunc()">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function changeWorkHourNewFunc() {
                                                let selectBox = document.getElementById("workHour-selectBox");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('workDay-selected-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (workHour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="workDay-input-new-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعت کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" name="description" class="md-textarea form-control" rows="3"></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (workDate) -->
                            <label for="workDay-input-new-workDate" class="">تاریخ</label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_new_workDate"></span>
                                    </div>
                                    <input type="text" id="workDay-input-new-workDate" name="workDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_new_workDate"> </label>
                            </div>

                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal edit -->
    <div class="modal fade" id="modelWorkDayEdit" tabindex="-1" role="dialog" aria-labelledby="modelWorkDayEditLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="modelWorkDayEditLabel">تغییر ساعات کاری</h5>
            </div>
                <!-- form -->
            <div class="card-body pr-5">
                <form name="FormWorkWorkDayEdit" action="{% url 'project:workDay-update' %}" method="post" enctype="multipart/form-data"  onsubmit="return validateWorkDayEditForm()">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <!-- selected salary id -->
                    <input type="hidden" id="selected-workDay-id" name="workDayId">
                    <!-- model body -->
                    <div class="modal-body">
                        <div class="col-md-12 col-xl-12">

                            <!--Dropdown employee-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="hidden" id="workDay-selected-edit-employee-id" name="employee" value="-1">
                                        <select class="mdb-select md-form" id="workDay-selectBoxEdit" searchable="جست و جو" onchange="workDayChangeFunc();">
                                            <option value="" disabled selected >.    کارمند موردنظر را اتخاب کنید</option>
                                            {% for employee in employees %}
                                                <option value="{{ employee.id }}" >.    {{ employee.fullName }}</option>
                                                {% if forloop.counter == 1 %}
                                                    <script>
                                                        document.getElementById('workDay-selected-edit-employee-id').value = {{ employee.id }}
                                                    </script>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <script>
                                            function workDayChangeFunc() {
                                                let selectBox = document.getElementById("workDay-selectBoxEdit");
                                                let selectedValue = selectBox.options[selectBox.selectedIndex].value;
                                                document.getElementById('workDay-selected-edit-employee-id').value=selectedValue
                                           }
                                        </script>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (workHour) -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="md-form">
                                        <input type="text" id="workDay-input-edit-workHour" name="workHour" class="form-control">
                                        <label for="contact-Subject" class="">ساعت کاری</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Grid row (description) -->
                            <div class="row mb-4">

                                <!-- Grid column -->
                                <div class="col-md-12">

                                    <div class="md-form">
                                        <textarea type="text" id="workDay-input-edit-description" name="description" class="md-textarea form-control" rows="4" ></textarea>
                                        <label for="contact-message">توضیحات</label>
                                    </div>

                                </div>
                            </div>

                            <!-- Grid row (workDate) -->
                            <label for="workDay-input-edit-workDate" class="">تاریخ
                            : <span id="lbl-workDay-edit-workDate"></span>
                            </label>
                            <div class="row" dir="ltr">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text cursor-pointer" id="dt_class_edit_workDate"></span>
                                    </div>
                                    <input type="text" id="workDay-input-edit-workDate" name="workDate" class="form-control" value="{% now "yy-m-d" %}">
                                </div>
                                <label id="showDate_class_edit_workDate"> </label>
                            </div>

                        </div>
                    </div>
                    <!-- model footer -->
                    <div id="workDay-model-a-tag" class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
                        <a >
                            <button type="submit" class="btn btn-secondary">تایید</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>

    <!-- Modal delete -->
    <input type="hidden" id="selected-workDay-delete-id" selected-id="-1">
    <div class="modal fade" id="modal-workDay-delete" tabindex="-1" role="dialog" aria-labelledby="exampleWorkDayModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleWorkDayModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="model-workDay-delete-body">
            آیا از حذف این فیلد مطمئن هستید؟
          </div>
          <div id="model-workDay-delete-a-tag" class="modal-footer">
              <button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>
              <a >
                  <button type="button" class="btn btn-secondary">تایید</button>
              </a>
          </div>
        </div>
      </div>
    </div>


    <!-- base url address -->
    <input type="hidden" id="url-base" data-url="http://{{ request.get_host }}/" />

{% endblock %}

{% block javascript %}

    <script>
        //-- handle delete modal --//
        function showWorkDayDeleteModal() {
            let idd = $("#selected-workDay-delete-id").attr("selected-id");
            let a_tag = $("#model-workDay-delete-a-tag");
            let modal_body = $("#model-workDay-delete-body");
            let base_url = $("#url-base").attr("data-url");
            a_tag.empty();
            modal_body.empty();
            if(idd == "-1"){
                modal_body.append(
                    `ابتدا آیتمی را انتخاب کنید`
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">خروج</button>`
                );
            }
            else {
                modal_body.append(
                    'آیا از حذف شدن این آیتم اطمینان دارید؟'
                );
                a_tag.append(
                    `<button type="button" class="btn btn-info" data-dismiss="modal">انصراف</button>` +
                    `<a href='${base_url}${idd}/workDay-delete/'">` +
                    `<button type="button" class="btn btn-secondary">تایید</button>` +
                    `</a>`
                );
            }
        }
    </script>

    <script>

        $("#workDay-table tr").click(function(){
           $(this).addClass('table-primary').siblings().removeClass('table-primary');
           var value=$(this).find('input.workDayId').attr("dataId");
           {#alert(value)#}
           $('#selected-workDay-delete-id').attr("selected-id", value);
           $('#selected-workDay-id').attr("value", value); //edit

            //-- fill edit fields --//
            $('#workDay-input-edit-workDate').attr('value', $(this).find('td.workDate').attr('data-workDate'));
            $('#lbl-workDay-edit-workDate').html($(this).find('td.workDate').html());
            $('#workDay-input-edit-workHour').attr('value', $(this).find('td.workHour').html());
            $('#workDay-input-edit-description').val( $(this).find('td.description').html());
            let empId =$(this).find('input.employee').attr("employeId");
            $('#workDay-selectBoxEdit').val(empId)


        });

        $('.ok').on('click', function(e){
            alert($("#workDay-table tr.selected td:first").html());
        });

        // Material Select Initialization
        $(document).ready(function() {
        $('.mdb-select').materialSelect();
        });


        //-- validate image field in new workDay form --//
        function validateWorkDayForm() {

            let price = document.forms["FormWorkDay"]["workDay-input-new-workHour"].value;
            if (price === null || price === "") {
                $('#workDay-input-new-workHour').attr('value', 0);
            }
            let employeeId = document.forms["FormWorkDay"]["workDay-selected-employee-id"].value;
            if (employeeId === "-1") {
                alert("کارمند مورد نظر را انتخاب کنید");
                return false
            }

        }

        //-- validate image field in edit salary form --//
        function validateWorkDayEditForm() {

        }

    <!-- table select -->
    </script>

    <!-- search -->
    <script>
        $("#search-workDay").on('keyup', function (e) {
            if (e.keyCode === 13) {
                let srchterm = $("#search-workDay").val();
                let tag_a = document.getElementById("workDay-tag-a-page-size");
                tag_a.href = "?page-size=" + {{ page_size }} + "&search=" + srchterm;
                tag_a.click();
            }
        });
    </script>

    <!--jalali calender-->
    <script>
    // persian calender : https://github.com/Mds92/MD.BootstrapPersianDateTimePicker
        $(document).ready(function () {
            $("#dt_class_new_workDate").MdPersianDateTimePicker({
                targetDateSelector: "#workDay-input-new-workDate",
                targetTextSelector: "#showDate_class_new_workDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                inLine: true,
                //rangeSelector: true
            });
            $("#dt_class_edit_workDate").MdPersianDateTimePicker({
                targetDateSelector: "#workDay-input-edit-workDate",
                targetTextSelector: "#showDate_class_edit_workDate",
                textFormat: " dddd dd MMMM yyyy ",
                isGregorian: false,
                dateFormat: "yyyy-MM-dd",
                inLine: true,
            });
        });

    </script>

{% endblock %}